.jm-channel-home{
    /*padding-left: 20px;*/
}
.sc-main-hot{
    padding-top: 20px;
}
.jm-channel-home .channel-header{
    background-color: white;
    padding: 20px;
}

.jm-channel-home .channel-header img {
    width: 130px;
    height: 130px;
}

.jm-channel-home .channel-header .video-des {
    position: static;
    padding: 0 0 0 20px;
}

.jm-channel-home .channel-header .video-des .des-title {
    font-size: 24px;
    color: #96989c;
    font-weight: bold;
}

.jm-channel-home .channel-header .video-des .des-content {
    color: #96989c;
    font-size: 14px;
}

.jm-channel-home .channel-header .video-des .des-info {
    position: absolute;
    bottom: 30px;
    color: #646469;
}
.jm-channel-home .channel-header .video-des .des-info span{
    padding-right:3px;
}
.jm-channel-home .channel-header .video-des .des-info>span
{
    margin-right: 9px;
}
.jm-channel-home .btn-ch-subs{
    margin-right: 15px;
}
.jm-channel-home .btn-ch-ok{
    color: white;
    font-weight: bold;
    background-color: #3493D4;
    border-radius: 5px;
    padding: 8px;
}

.jm-channel-home .tab-links{
    padding: 13px 10px;
    background-color: white;
}
.jm-channel-home .tab-links a:hover,
.tab-links .tab.active {
    border-bottom: 4px solid #3493D4;
}

.jm-channel-home .tab-links a {
    text-decoration: none;
    color: #96989c;
    font-weight: bold;
}

.jm-channel-home .tab-links .tab{
    padding: 0 5px 10px 5px;
    margin: 0 5px;
}
.jm-channel-home .tab-content .tab {
    display: none;
    padding: 0;
}

.jm-channel-home .tab-content {
    padding: 0;
}

.jm-channel-home .tab-content .tab.active {
    display: block;
}

/*channel - home*/
#channel-home{
    padding: 20px 20px 0 20px;
}
#channel-home .video-large img {
    width: 100%;
    height: 400px;
}
#channel-home .main-video .video-des{
    position: static;
    padding: 20px 20px 0 20px;
}
#channel-home .main-video .video-des .video-des-title{
    font-size: 18px;
    padding-bottom: 15px;
}
#channel-home .main-video .video-des-bottom{
    position: absolute;
    bottom: 20px;
}
#channel-home .main-video .video-no-item p {
    color: #d3d9de;
}
#channel-home .video-small{
    padding: 20px 0 20px 0;
}

#channel-home .video-small:first-child{
    padding-right: 15px;
}
#channel-home .video-small:nth-child(2){
    padding-left: 5px;
    padding-right: 10px;
}
#channel-home .video-small:nth-child(3){
    padding-left: 10px;
    padding-right: 5px;
}
#channel-home .video-small:last-child{
    padding-left: 15px;
}
/*vr*/
#channel-vr select{
    border: solid 1px #e4e5e8;
    border-radius: 5px;
}
/*subscriber*/
#channel-sub{
    background-color: white;
}
#channel-sub .subscriber-item {
    padding: 20px;
}

#channel-vr .load-more,
#channel-sub .load-more
{
    border-top: solid 1px #e4e5e8;
}
.subscriber-item img{
    width: 70px;
    height: 70px;
}

.subscriber-item .item-img, .jm-channel-home .item-info,
.item-info > div:nth-child(2), .item-info > div:last-child {
    display: inline-block;
    vertical-align: middle;
}

.partial-no-item{
    padding-bottom: 30px;
}

