.jm-channel-home{
    padding-left: 20px;
}
.sc-main-hot{
    padding-top: 20px;
}
.jm-channel-home .channel-header{
    background-color: white;
    padding: 20px;
}

.jm-channel-home .channel-header img {
    width: 100%;
}

.jm-channel-home .channel-header .video-des {
    position: static;
    padding: 0 0 0 20px;
}

.jm-channel-home .channel-header .video-des .des-title {
    font-size: 24px;
    color: #3a3a3a;
    font-weight: bold;
}

.jm-channel-home .channel-header .video-des .des-content {
    color: #3a3a3a;
    font-size: 14px;
}

.jm-channel-home .channel-header .video-des .des-info {
    position: absolute;
    bottom: 30px;
    color: #d3d9de;
}
.jm-channel-home .channel-header .video-des .des-info span{
    padding: 0 3px;
}
.jm-channel-home .btn-ch-ok{
    color: white;
    font-weight: bold;
    background-color: #3493D5;
    border-radius: 5px;
}

.jm-channel-home .tab-links{
    padding: 13px 10px;
    background-color: white;
}
.jm-channel-home .tab-links a:hover,
.tab-links .tab.active {
    border-bottom: 4px solid #3493D5;
}

.jm-channel-home .tab-links a {
    text-decoration: none;
    color: #3a3a3a;
    font-weight: bold;
}

.jm-channel-home .tab-content .tab {
    display: none;
    padding: 0;
}

.jm-channel-home .tab-content {
    padding: 0;
}

.jm-channel-home .tab-content .tab.active {
    display: block;
}

/*channel - home*/
#channel-home{
    padding: 20px 20px 0 20px;
}
#channel-home .main-video{
    background-color: white;
}
#channel-home .video-large img {
    width: 100%;
    height: 400px;
}
#channel-home .main-video .video-des{
    position: static;
    padding: 20px 20px 0 20px;
}
#channel-home .main-video .video-des-bottom{
    position: absolute;
    bottom: 20px;
}
#channel-home .video-small{
    padding: 20px 0 0 0;
}

/*subscriber*/
#channel-sub{
    background-color: white;
}
#channel-sub .subscriber-item {
    padding: 20px;
}

#channel-vr .load-more,
#channel-sub .load-more
{
    border-top: solid 1px #d3d9de;
}

.subscriber-item .item-img, .jm-channel-home .item-info,
.item-info > div:nth-child(2), .item-info > div:last-child {
    display: inline-block;
    vertical-align: middle;
}

