.jm-contact{
    /*padding-left: 20px;*/
}
.jm-contact #jm-map{
    min-height: 350px;
    width: 100%;
}
.jm-contact .content{
    padding: 20px;
}
.jm-contact .content p{
    margin: 0;
    padding-top: 10px;
    color: #96989c;
}
.jm-contact .content p span{
    font-weight: bold;
    width: 80px;
    display: inline-block;
    color: #96989c;
}