.jm-channels {
    padding-left: 20px;
}

.jm-channels .video-small img {
    height: 150px;
}

.jm-channels .video-small .solid-border-box{
    padding: 20px;
}

.video-des {
    padding: 0 10px 0px 20px;
}

.jm-channels .des-content,
.jm-channels .des-title {
    padding-bottom: 5px;
}

.jm-channels .des-title {
    color: #3493D5;
    font-weight: bold;
    font-size: 16px;
}

.jm-channels .des-content {
    color: #3a3a3a;
    font-size: 13px;
    height: 85px;
    max-height: 85px;
    overflow-y: hidden;
}

.jm-channels .des-info {
    display: inline-flex;
}

.jm-channels .des-info > div {
    font-size: 13px;
    color: #d3d9de;
    padding-right: 10px;
    display: inline-block;
}