.jm-channels {
    /*padding-left: 20px;*/
}

.jm-channels .video-small .image-container{
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
}

.jm-channels .video-small .image-container img{
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
}

.jm-channels .video-small .solid-border-box{
    padding: 15px;
    position: static;
}
.jm-channels .video-small .btn-ch-subs{
    position: absolute;
    right: 0;
    /*bottom: 0;*/
}
.video-des {
    padding: 0 10px 0px 20px;
}

.jm-channels .des-content,
.jm-channels .des-title {
    padding-bottom: 5px;
}

.jm-channels .des-title {
    color: #3493D4;
    font-weight: bold;
    font-size: 16px;

}

.jm-channels .des-content {
    color: #96989c;
    font-size: 13px;
    height: 85px;
    max-height: 85px;
    overflow-y: hidden;
}

.jm-channels .des-info {
    display: inline-flex;
}

.jm-channels .des-info > div {
    font-size: 13px;
    color: #96989c;
    padding-right: 10px;
    display: inline-block;
}

.jm-channels .des-info div span{
    padding-left: 5px;
    font-weight: bold;
}