/*setting fonts*/
@CHARSET "UTF-8";

@font-face {
    font-family: 'Noto Sans Bold';
    src: url('/JAMONG/static/font/NotoSansCJKkr-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans DemiLight';
    src: url('/JAMONG/static/font/NotoSansCJKkr-DemiLight.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('/JAMONG/static/font/NotoSansCJKkr-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Medium';
    src: url('/JAMONG/static/font/NotoSansCJKkr-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('/JAMONG/static/font/NotoSansCJKkr-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Thin';
    src: url('/JAMONG/static/font/NotoSansCJKkr-Thin.otf') format('opentype');
}
div, span, a, p{
    font-family: "Noto Sans Light";
}
/*common things*/
a, a:hover{
    text-decoration: none;
}
.body-container {
    position: relative;
    background-color: #F5F4F9;
}
.content-wrapper {
    background-color: #F5F4F9;
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    padding: 0 0 0 20px;
}

/* ajax loader */
.jm-ajax-loader-container {
    padding: 50px;
}
.jm-ajax-loader-container img {
    width: 30px;
}

.solid-border-box {
    border: solid 1px #e4e5e8;
    background-color: white;
}

.solid-border-empty {
    border: solid 1px #e4e5e8;
}

.solid-border-bottom {
    border-bottom: solid 1px #e4e5e8;
}

.list-header{
    color: #3493D4;
    font-weight: bold;
    padding: 5px;
}

.list-header span {
    font-weight: bold;
    font-family: "Noto Sans Medium";
}

.list-header a {
    color: #d3d9de;
    float: right;
}
.video-small {
    display: inline-block;
    min-height: 150px;
    padding: 15px 0 0 15px;
}
.video-des {
    min-height: 86px;
    padding: 10px 10px;
    background-color: white;
}

.video-des p {
    margin: 0;
    color: #646469;
}

.video-des .video-des-title {
    font-size: 14px;
    padding-bottom: 5px;
    font-family: "Noto Sans Medium";
    overflow-y: hidden;
    max-height: 24px;
}

.video-des .video-des-publisher,
.video-des .video-des-hits {
    font-size: 13px;
    line-height: 1;
    color: #96989c;
    margin-top: 10px;
}
.video-des-date {
    margin-top: 5px;
}

.load-more{
    background-color: white;
    text-align: center;
    padding: 10px 13px;
}
.load-more a{
    text-decoration: none;
    color: #96989c;
    font-weight: bold;
    line-height: 1;
}
.load-more i{
    padding-left: 5px;
}

.btn-ch-subs{
    border-radius: 5px;
    border: solid 1px #e4e5e8;
    text-decoration: none;
    padding: 8px;
    line-height: 1;
}
.btn-ch-subs-plus {
    color: #3493D4;
}
.btn-ch-subs-cancel {
    color: #EA6645;
}
.btn-ch-subs-plus:hover{
    color: #3493D4;
    opacity: 0.7;
}
.btn-ch-subs-cancel:hover{
    color: #EA6645;
    opacity: 0.7;
}
.padding-normal{
    padding: 10px 13px;
}

.padding-none{
    padding: 0;
}

.padding-inner{
    padding: 15px 0 0 15px;
}

.padding-outer{
    padding: 0 15px 15px 0;
}

.float-right{
    float: right;
}

.page-header{
    background-color: white;
    padding: 11px 13px;
    margin: 0;
    font-weight: bold;
    color: #646469;
}

.jm-main {
    min-height: 1000px;
    padding-bottom: 150px;
    padding-top: 20px;
}


/*header*/
.main-header {
    background-color: #3493D4;
}

.main-header .logo img {
    padding: 8.5px 0;
}

.navbar {
    margin: auto;
    padding: 4.5px 0;
}

.navbar-custom-menu {
    float: right;
    padding: 5px 0;
}
.navbar .search-container, .navbar .image-container{
    display: inline-block;
    vertical-align: middle;
}
.navbar .nav-search {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.navbar .nav-search span {
    color: #646469;
}

.navbar .nav-search input {
    border: none;
    width: 220px;
}

.navbar .user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}
.navbar .inline-block{
    display: inline-block;
}
/*side bar*/
.main-sidebar .sidebar-channel {
    margin: 20px 0;
}

.main-sidebar .sidebar-channel .sidebar-menu {
    overflow-y: scroll;
    max-height: 180px;
}

.main-sidebar .sidebar-category .menu-header,
.main-sidebar .sidebar-channel .menu-header {
    padding: 11px 13px;
    font-weight: bold;
    color: #646469;
}

.main-sidebar .sidebar-channel .menu-header span {
    float: right;
    color: #96989c;
    font-size: 13px;
}

.main-sidebar .sidebar-category .sidebar-menu,
.main-sidebar .sidebar-channel .sidebar-menu,
.main-sidebar .sidebar-service .sidebar-menu {
    list-style: none;
    padding: 0;
}

.main-sidebar .sidebar-category .sidebar-menu{
    padding: 10px 0;
}

.main-sidebar .sidebar-channel .sidebar-menu,
.main-sidebar .sidebar-service .sidebar-menu {
    margin: 0;
}

.main-sidebar .sidebar-channel div:last-child {
    text-align: center;
}

.main-sidebar div:last-child a {
    line-height: 2.5;
    color: #96989c;
    font-weight: bold;
    font-size: 13px;
}


.main-sidebar .sidebar-category .sidebar-menu li,
.main-sidebar .sidebar-channel .sidebar-menu li span,
.main-sidebar .sidebar-channel .sidebar-menu li,
.main-sidebar .sidebar-service .sidebar-menu li {
    list-style: none;
    padding: 10px 0 10px 15px;
    color: #96989c;
    text-decoration: none;
    font-family: "Noto Sans Bold";
    font-weight: bold;
}

.main-sidebar .sidebar-category .sidebar-menu li span
{
    font-size: 13px;
    font-weight: bold;
}

.main-sidebar .sidebar-service .sidebar-menu li i {
    color: #646469;
    font-size: 16px;
}

.main-sidebar .sidebar-channel .sidebar-menu li span
{
    /*font-size: 14px;*/
    /*color: #646469;*/
    padding-left: 13px;
    font-weight: bold;
}

.main-sidebar .sidebar-channel ul li img{
    width: 45px;
    height: 45px;
}
.main-sidebar .sidebar-service .sidebar-menu li span
{
    padding-left: 13px;
    font-family: "Noto Sans Bold";
    font-weight: bold;
    color: #96989c;
}

/*footer*/
.sc-footer {
    padding: 15px 0;
}

.footer-container {
    width: 100%;
    background-color: #3A3A3A;
}

.footer-container .footer-logo img {
    vertical-align: bottom;
    height: 28px;
}

.footer-container .row .footer-text div {
    display: inline-block;
}
.footer-text iframe #u_0_2{
    color: #d3d9de;
}
#language {
    margin-right: 5px;
    font-size: 13px;
    width: 130px;
    border-radius: 5px;
    border: none;
    padding: 4px 0;
}

.footer-text {
    padding: 20px 0;
}

.footer-container .row .footer-text .btn-ft-white,
.footer-container .row .footer-text .btn-ft-blue {
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    margin-right: 5px;
}

.footer-container .row .footer-text .btn-ft-white {
    background-color: #d3d9de;
    color: #3A3A3A;
    font-weight: bold;
    width: 120px;
    padding: 5px;
}

.footer-container .row iframe{
    border:none;
    overflow: hidden;
    display: block;
    float: right;
    color: white;
}
#u_0_2{
    color: white;
}
#facebook .plugin .pluginFontHelvetica{
    color: white;
}

.footer-container .row .footer-text .btn-ft-blue {
    background-color: #3956A0;
    color: white;
    /*font-weight: bold;*/
    padding: 3px;
}

.footer-container .row .footer-text .btn-ft-blue img{
    margin-right: 5px;
    height: 18px;
}

.footer-container .row .footer-text .btn-ft-blue:nth-child(2){
   padding: 4px 3px;
}

.footer-container .row .footer-text .text-ft-sns {
    display: inline-flex;
    color: #d3d9de;
    font-size: 13px;
    vertical-align: top;
}

.footer-container .row .footer-text:last-child p {
    margin-bottom: 5px;
    font-weight: bold;
}

.footer-container .row .footer-text:last-child p,
.footer-container .row .footer-text:last-child div p span,
.footer-container .row .footer-text:last-child div a,
.footer-container .row .footer-text:last-child div {
    font-size: 14px;
    color: #d3d9de;
}

.footer-container .row .footer-text:last-child div:nth-child(2) {
    padding-top: inherit;
    line-height: 2;
}

.footer-container .row .footer-text:last-child div a {
    font-weight: 100;
    font-size: 12px;
    padding-right: 3px;
}

.footer-container .row .footer-text:last-child div p span {
    padding: 0 5px;
}

.float-right {
    float: right;
}

.footer-text:last-child .float-right span {
    color: #d3d9de;
    font-size: 17px;
    background-color: rgba(150, 150, 150, 0.09);
    padding: 5px 20px;
    border-radius: 3px;
    vertical-align: text-top;
    text-align: center;
    width: 140px;
}



/* mobile */
@media only screen and (max-width: 480px) {

}

/* tablet */
@media only screen and (max-width: 768px) {

}

/* web */
@media only screen and (min-width: 769px) {
}

.popup-bg {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    display: none;
}

/* pop-up */
#jm-user-setting,#login,#join, #find-id, #find-password {
    width: 100%;
}
.popup-container{
    position: fixed;
    top: 25%;
    z-index:1002;
    overflow: auto;
    visibility: hidden;
}
#jm-user-setting{
    top:55px;
    right: 10px;
}
#jm-user-setting .close{
    margin-top: 10px;
    /*font-size: 14px;*/
}
#jm-user-setting .list-user-setting{
    list-style: none;
    padding: 0;
}
#jm-user-setting .list-user-setting li{
    padding: 15px 0;
}
#jm-user-setting .list-user-setting li span {
    font-size: 16px;
    color: #96989c;
    padding-left: 13px;
    font-weight: bold;
    vertical-align: top;
}
#jm-user-setting .list-user-setting li img{
    vertical-align: bottom;
}
.popup-container:target
{
    visibility: visible;
}
#login .popup-login-container,
#join .popup-login-container,
#find-id .popup-login-container,
#find-password .popup-login-container
{
    position: relative;
    overflow: hidden;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#jm-user-setting .popup-login-container{
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 131px;
    margin-left: auto;
    margin-right: 0;
    background-image: url('/JAMONG/static/img/user_box.png');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px 10px 10px 20px;
}
#login .login-header a:first-child,
#find-id .login-header a:first-child,
#find-password .login-header a:first-child,
#join .login-header a:last-child{
    color: #3493D4;
}
.popup-container .popup-login-container .close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #96989c;
}
.popup-container .popup-login-container .login-header a{
    text-decoration: none;
    display: inline-flex;
    color: #646469;
    font-size: 16px;
    font-family: "Noto Sans Medium";
}
.popup-container .popup-login-container .login-header a:first-child{
    padding: 20px 77px;
    border-right: solid 1px #e4e5e8;
}
.popup-container .popup-login-container .login-header a:last-child{
    padding: 20px 0 20px 70px;
}
.popup-container .form-group{
    text-align: center;
    width: 300px;
    margin: 0 auto 12px auto;
}
.popup-container .form-group:first-child{
    font-size: 25px;
    color: #646469;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 13px;
    font-family: "Noto Sans Medium";
}
.popup-login-container{
    width: 300px;
    border-radius: 5px;
}
.form-group input{
    width: 300px;
    border-radius: 5px;
    padding: 11px;
    /*margin: 5px;*/
    text-align: left;
}
.btn-login-submit, .btn-fb-login, .btn-login-submit, .btn-fb-join{
    width: 300px;
    border-radius: 5px;
    padding: 11px;
    margin: auto;
    /*margin-bottom: 10px;*/
}
.btn-login-submit:hover, .btn-fb-login:hover{
    opacity: 0.5;
}
.btn-login-submit{
    background-color: #3493D4;
    color: white;
    text-align: center;
}
.btn-fb-login, .btn-fb-join{
    background-color: #5a75f9 ;
}
.btn-login-submit a , .btn-fb-login a, .btn-login-submit a , .btn-fb-join a{
    text-decoration: none;
    color: white;
}
.popup-container .login-footer{
    border-top: solid 1px #d3d9de;
    padding: 30px 0;
}
.popup-container .login-footer a{
    display: inline-block;
    text-decoration: none;
    color: #3493D4;
    font-weight: bold;
}
.btn-login-wh{
    padding: 11px 45px;
    border-radius: 5px;
    border-color: #e4e5e8;
    margin: 5px;
}
.btn-login-wh:hover{
    opacity: 0.5;
}

#jm-auth-join .form-group span{
    font-size: 11px;
    color: #96989c;
}
#jm-auth-join .check-box{
    padding: 2px;
    vertical-align: sub;
    width: 20px;
}
#jm-auth-find-id, #jm-auth-find-password{
    padding-bottom: 46px;
}

#jm-auth-find-id > div:first-child,
#jm-auth-find-password > div:first-child
{
    padding: 20px;
    margin-bottom: 0;
}

#jm-auth-find-password ul{
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
    font-size: 12px;
}

.partial-no-item{
    font-family: "Noto Sans Medium";
    font-size: 14px;
    color: #d3d9de;
    text-align: center;
    padding: 40px 0 10px 0;
}
@media (min-width: 1200px){
    .main-sidebar {
        width: 21%;
    }
    .content-wrapper{
        width: 76%;
    }
}