.jm-player {
    padding: 0 20px;;
}

/*
player
*/
#pano {
    width: 100%;
    height: 400px;
}

.jm-player-video .video-des {
    padding: 20px 0;
    margin: 0 20px;
    height: initial;

}

.jm-player-video .video-des-title {
    font-weight: bold;
    font-size: 18px;
    color: #3a3a3a;
    padding-bottom: 20px;
}

.jm-player-video .video-des-info {
    color: #d3d9de;
    font-weight: bold;
    position: relative;
}

.jm-player-video .video-des-info .video-des-hits {
    position: absolute;
    right: 0;
    bottom: 0;
}

.jm-player-video .video-des-info .video-des-hits {
    font-size: 18px;
}

.jm-player-video .video-action{
    padding: 10px 20px;
}

.jm-player-video .video-action a {
    text-decoration: none;
    margin-right: 10px;
    color: #d3d9de;
}

.jm-player-video .video-action .ic-heart{
    color: red;
    font-size: 25px;
}
.jm-player-video .video-action .ic-share{
    font-size: 20px;
}
/*The number of hearts*/
.jm-player-video .video-action span,
.jm-player-video .video-action .ic-heart,
.jm-player-video .video-action .ic-share,
.jm-player-video .video-action a
{
    vertical-align: middle;
}

/*
comment
*/
.jm-player-comment {
    margin-top: 20px;
    padding: 0 20px;
}

.jm-player-comment .header {
    color: #3a3a3a;
    padding: 15px 0;
}

.jm-player-comment .comment-img,
.jm-player-comment .comment-content,
.jm-player-comment .comment-submit,
.jm-player-comment .comment-group .comment-item-img,
.jm-player-comment .comment-group .comment-item-contents {
    display: inline-block;
}

/* comment- form*/
#jm-form-comment {
    padding: 20px 0;
    text-align: center;
}

.btn-cm-submit a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn-cm-submit {
    background-color: #3493D5;
    padding: 31px;
    border-radius: 5px;
    display: block;
    vertical-align: top;
}

.jm-player-comment .comment-content {
    margin: 0 20px;
}

.jm-player-comment .comment-img img {
    vertical-align: text-bottom;
    padding: 10px 0;
}

.jm-player-comment .comment-content textarea {
    border-radius: 5px;
    border-color: #d3d9de;
}

/* comment- list*/

.jm-player-comment .comment-list {
    list-style: none;
    padding: 0;
}

.jm-player-comment .comment-list .comment-group .comment-item-img {
    margin: 20px 20px 20px 0;
}

.jm-player-comment .comment-list .comment-group .comment-item-name span:first-child {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: bold;
}

.jm-player-comment .comment-list .comment-group .comment-item-name span:last-child {
    float: right;
    font-weight: bold;
    color: #d3d9de;
}

.jm-player-comment .comment-list .comment-group .comment-item-contents {
    width: 526px;
    vertical-align: middle;
    line-height: 1.5;
}

.jm-player-comment .comment-list .comment-group .comment-item-content {
    overflow-y: scroll;
    max-height: 46px;
}

/* comment- footer*/
.jm-player .load-more {
    border: solid #d3d9de 1px;
    border-top: none;
}

/*
channel
*/
.jm-player-channel{
    padding: 15px;
    margin-bottom: 20px;
}
.jm-player-channel .image-container,
.jm-player-channel .des-group{
    display: inline-block;
    vertical-align: middle;
}
.jm-player-channel .des-group{
    padding-left: 15px;
}
.jm-player-channel .des-group .des-title{
    font-size: 18px;
    font-weight: bold;
    color: #3a3a3a;
}
.jm-player-channel .des-group .des-title,
.jm-player-channel .des-group .des-info{
    display: block;
}
.jm-player-channel img {
    width: 80px;
    height: 80px;
}
.jm-player-channel .btn-ch-subs{
    margin-top: 5px;
    padding: 8px;
    display: block;
}


/*
recommend vr list
*/