.jm-player {
    padding-left: 20px;;
}

#pano {
    width: 100%;
    height: 400px;
}

/*
player
*/
.jm-player-video .video-des-title {
    font-weight: bold;
    font-size: 15px;
    color: #3a3a3a;
}

.jm-player-video .video-info {
    color: #d3d9de;
    font-weight: bold;
}

.jm-player-video .video-action a {
    text-decoration: none;
    margin-right: 10px;
    color: #d3d9de;
}

.jm-player-video .video-action a:first-child i {
    color: red;
    font-size: 20px;
}

/*
comment
*/
.jm-player-comment {
    margin-top: 20px;
    padding: 0 20px;
}

.jm-player-comment .header {
    color: #3a3a3a;
    padding: 15px 0;
}

.jm-player-comment .comment-img,
.jm-player-comment .comment-content,
.jm-player-comment .comment-submit,
.jm-player-comment .comment-group .comment-item-img,
.jm-player-comment .comment-group .comment-item-contents {
    display: inline-block;
}

/* comment- form*/
#jm-form-comment {
    padding: 20px 0;
    text-align: center;
}

.btn-cm-submit a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn-cm-submit {
    background-color: #3493D5;
    padding: 31px;
    border-radius: 5px;
    display: block;
    vertical-align: top;
}

.jm-player-comment .comment-content {
    margin: 0 20px;
}

.jm-player-comment .comment-img img {
    vertical-align: text-bottom;
    padding: 10px 0;
}

.jm-player-comment .comment-content textarea {
    border-radius: 5px;
    border-color: #d3d9de;
}

/* comment- list*/

.jm-player-comment .comment-list {
    list-style: none;
    padding: 0;
}
.jm-player-comment .comment-list .comment-group .comment-item-img{
    margin: 20px 20px 20px 0;
}
.jm-player-comment .comment-list .comment-group .comment-item-name span:first-child{
    font-size: 16px;
    color: #3a3a3a;
    font-weight: bold;
}
.jm-player-comment .comment-list .comment-group .comment-item-name span:last-child{
    float: right;
    font-weight: bold;
    color: #d3d9de;
}
.jm-player-comment .comment-list .comment-group .comment-item-contents{
    width: 526px;
    vertical-align: middle;
    line-height: 1.5;
}
.jm-player-comment .comment-list .comment-group .comment-item-content{
    overflow-y: scroll;
    max-height: 46px;
}

/* comment- footer*/
.jm-player .load-more {
    border: solid #d3d9de 1px;
    border-top: none;
}

/*
channel
*/

.jm-player-channel img {
    width: 50px;
    height: 50px;
}

.jm-player-channel .image-container, .jm-player-channel .des-group {
    display: inline-block;
}

.jm-player-channel {
    margin-bottom: 20px;
}

.jm-player-channel .des-group {
    display: inline-block;
}

.jm-player-recommend .header {

}

/*
recommend vr list
*/