html, body{
    height: 100%;
    background-color: #F5F4F9;
}
.jm-register{
    padding: 100px 0;
}

.form-container{
    width: 400px;
    margin: auto;
    border-radius: 5px;
}
.header a:last-child{
    color: #3493D4;
}
.header a{
    text-decoration: none;
    display: inline-flex;
    color: #646469;
    font-size: 16px;
    font-family: "Noto Sans Medium";
}
.header a:first-child{
    padding: 15px 77px;
    border-right: solid 1px #e4e5e8;
}
.header a:last-child{
    padding: 15px 0 15px 70px;
}

.footer-container{
    position: fixed;
    bottom: 0;
}

#jm-auth-join{
    padding: 15px 20px;
}
.form-group{
    text-align: center;
    width: 300px;
    margin: 0 auto 12px auto;
}


.form-group:first-child{
    font-size: 25px;
    color: #646469;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 13px;
    font-family: "Noto Sans Medium";
}

.form-group:nth-child(10) input{
    text-align: center;
    border: none;
}

.form-group input{
    width: 300px;
    border-radius: 5px;
    padding: 11px;
    /*margin: 5px;*/
    text-align: left;
}
.radio-input-male, .radio-input-female,
.radio-input-male input, .radio-input-female input
{
    width: 130px;
}
.radio-input-female, .radio-input-male{
    display: inline-block;
}
.radio-input-male{
    float: left;
    margin-left: 40px;
}
.radio-input-female{
    float: right;
    margin-right: 40px;
}